$primaryColor: #54ACD2;
$secondaryColor: #5991B1;

body {
    background-color: $primaryColor;
    font-family: Quattrocento Sans;
    font-size: 16px;
    color: #444;
    line-height: 1.5;
}

h1,h2,h3,h4 {
    font-family: Montserrat;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: lighten(#444, 35%);

    &:hover {
        color: #444;
        text-decoration: underline;
    }
}

img {
    width: 100%;
    height: auto;
}

code,
pre {
    font-family: Source Code Pro;
    font-size: 16px;
    padding: 2px;
    background-color: darken(#fafafa, 5%);    
}

.container {
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
}

.site-header {
    padding-top: 2em;
    padding-bottom: 2em;

    hgroup {
        margin-top: 3em;
        text-align: center;
    }
}

.site-content {
    background-color: #fafafa;
}

.site-footer {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #fafafa;

    p {
        text-align: center;
    }
}

.site-title,
.site-description {
    color: #fafafa;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .55);
}

.site-title {
    font-family: Montserrat;
    font-weight: normal;
    font-size: calc(100% * 4/3 * 4/3 * 4/3 * 4/3);

    a {
        color: #fafafa;
        &:hover {
            text-decoration: none;
            color: darken(#fafafa, 5%);
        }
    }
}
.site-description {
    font-family: Lora;
    font-style: italic;
    font-size: calc(100% * 4/3 * 4/3 * 7/8);
    font-weight: normal;
}

.entry {
    padding-top: 3em;
    padding-bottom: 2em;

    &:not(:last-of-type) {
        border-bottom: 7px double lighten(#444, 40%);
    }

}

.entry-header,
.entry-footer {
    text-align: center;
}

.entry-title {
    text-transform: uppercase;
}
.entry-content {
    font-size: calc(100% * 4/3);
    margin: 1em 0;

    p {
        text-indent: 2em;

        .home &.continue-reading {
            & ~ * {
                display: none;
            }
        }

    }

    blockquote {
        font-family: Lora;
        text-indent: 2em;
        font-style: italic;
        padding: 1em;
        color: lighten(#444, 30%);
        border: 3px dotted lighten(#444, 60%);
        background-color: lighten(#444, 65%);
    }
}
.footnotes {
    font-size: calc(100% * 3/4);
}
.footnotes-sep {
    width: 40%;
}
.comments-link {
    text-transform: lowercase;
}

.page-navigation {
    margin-bottom: 2em;
    
    a {
        background-color: $primaryColor;
        color: #fafafa;
        text-transform: uppercase;
        font-weight: bold;
        padding:5px;

        &:hover {
            background-color: $secondaryColor;
            text-decoration: none;
        }
    }
}

.page-title {
    font-family: Montserrat;
    padding-top: 1em;
    margin-top: 0;
    font-weight: normal;
}

.tag {
    article {
        display: flex;
    }
    .entry-thumbnail {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 30%;
    }
    .entry-header {
        align-self: center;
        text-align: left;
        margin-left: 30px;
    }
}

.single .continue-reading {
    display: none;
}