    </main>
    <footer class="site-footer">
        <div class="container">
            <p>{{footer}}</p>
        </div>
    </footer>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script id="dsq-count-scr" src="//testna-stran-moja.disqus.com/count.js" async></script>
    <script src="/main.js"></script>
</body>
</html>