<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#block "title"}}{{/block}}</title>
    <meta name="description" content="{{#block "description"}}{{/block}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{#block "title"}}{{/block}}" />
    <meta property="og:description" content="{{#block "description"}}{{/block}}" />
    <meta property="og:type" content="article" />
    {{#if thumbnail}}
    <meta property="og:image" content="{{site.url}}/images/{{thumbnail.src}}" />
    <meta name="twitter:image:alt" content="{{thumbnail.alt}}">
    {{/if}}
    <meta property="og:url" content="{{site.url}}/{{path}}" />
    <meta property="og:site_name" content="{{site.title}}">

    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Montserrat:400,700|Source+Code+Pro">
    <link rel="stylesheet" href="/main.css">
</head>
<body class="{{page_type layout}}">
    <header class="site-header">
        <div class="container">
            <hgroup>
                <h1 class="site-title"><a href="/">{{site.title}}</a></h1>
                <h2 class="site-description">{{site.description}}</h2>
            </hgroup>
        </div>
    </header>

    <main class="site-content">
