<div>
    <header class="entry-header">
        {{#if thumbnail}}
        <img src="/images/{{thumbnail.src}}" alt="{{thumbnail.alt}}">
        {{/if}}
        <h1 class="entry-title">{{title}}</h1>
        <time>{{date_string}}</time>
    </header>

    <div class="entry-content">
        {{{contents}}}
    </div>

    <footer class="entry-footer">
        <p>{{#each tags}}<a href="/tags/{{.}}">#{{.}}</a> {{/each}} &middot; <a class="comments-link" href="/{{path}}#disqus_thread">write a comment</a></p>
    </footer>
</div>