{{#partial "title"}}{{site.title}} - {{site.description}}{{/partial}}
{{#partial "description"}}{{site.description}}{{/partial}}

{{>header}}

    <div class="container">
        {{#each collections.posts}}
        <article class="entry">
            {{>post}}
        </article>
        {{/each}}
    </div>

{{>footer}}