{{#partial "title"}}{{title}} - {{site.title}}{{/partial}}
{{#partial "description"}}{{description}}{{/partial}}

{{> header }}


    <div class="container">

        <article class="entry">

            {{> post }}

            <div id="disqus_thread"></div>

            <script>
                (function() {
                    const d = document, s = d.createElement('script');
                    s.src = 'https://testna-stran-moja.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>

            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </article>

    </div>

{{> footer }}