{{#partial "title"}}Posts tagged {{tag}} - {{site.title}}{{/partial}}
{{#partial "description"}}{{description}}{{/partial}}

{{>header}}

    <div class="container">
        <h1 id="tag-title" class="page-title">Posts tagged <strong>#{{tag}}</strong></h1>
        {{#each posts}}
            <article class="entry">
            {{#if thumbnail}}
                <div class="entry-thumbnail">
                    <a href="/{{path}}">
                        <img src="/images/{{thumbnail.src}}" alt="{{thumbnail.alt}}">
                    </a>
                </div>
            {{/if}}
                <header class="entry-header">
                    <h2 class="entry-title"><a href="/{{path}}">{{title}}</a></h2>
                    <p>Published on <time>{{date_string}}</time>. Other tags include {{#each tags}}{{#if_other_tag}}<a href="/tags/{{.}}">#{{.}}</a> {{/if_other_tag}}{{/each}}.</p>
                </header>
            </article>
        {{/each}}
    </div>

{{>footer}}